<!DOCTYPE html>
<html>
  <head>
    <title>Whois Domain Availability Checker Multiple</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link type="image/png" sizes="16x16" rel="icon" href="/favicon.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
